{% extends 'base.html.twig' %}

{% block titre %}Inscription sur ProStage{% endblock %}

{% block contenu %}
{{ form_start(vueFormulaireUser) }}

			<label>Prénom </label>

		{{form_widget(vueFormulaireUser.prenom, {'attr':{'placeholder':"Exemple : Votre prénom..."}})}}

			<label>Nom </label>

		{{form_widget(vueFormulaireUser.nom, {'attr':{'placeholder':"Exemple : Votre nom..."}})}}

			<label>Email</label>

		{{form_widget(vueFormulaireUser.email, {'attr':{'placeholder':"Exemple : Votre email..."}})}}

			<label></label>

		{{form_widget(vueFormulaireUser.password, {'attr':{'placeholder':"Exemple : Votre password..."}})}}
		

    	<button type="submit" class="btn btn-dark">S'inscrire</button>

	{{ form_end(vueFormulaireUser) }}
{% endblock %}
