{% extends "base.html.twig" %}
{% block nomPage %}
    {% if action == "ajouter" %}
		Ajouter une entreprise
	{% else %}
		Modifier une entreprise
	{% endif %}
{% endblock %}


{% block liste %}
	{{ form_start(vueFormulaireEntreprise) }}

			<label>Nom de l'entreprise </label>

		{{form_widget(vueFormulaireEntreprise.nom, {'attr':{'placeholder':"Exemple : InfoSymf"}})}}

			<label>Adresse de l'entreprise </label>

		{{form_widget(vueFormulaireEntreprise.adresse, {'attr':{'placeholder':"Exemple : 40 rue de l'Amphi"}})}}

			<label>Le secteur d'activite de l'entreprise</label>

		{{form_widget(vueFormulaireEntreprise.activite, {'attr':{'placeholder':"Exemple : Développement web"}})}}

			<label>L'URL du site internet de l'entreprise</label>

		{{form_widget(vueFormulaireEntreprise.site, {'attr':{'placeholder':"Exemple : www.infosymf.com"}})}}
		

    	<button type="submit" class="btn btn-dark">Enregistrer</button>

	{{ form_end(vueFormulaireEntreprise) }}
{% endblock %}